*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}



/* slider */

.slides {
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 7px;

}
.slides::-webkit-scrollbar-thumb {
  background: rgb(156 163 175);
  border-radius: 10px;

}
.slides::-webkit-scrollbar-track {
  background: transparent;

}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
}

